* {
    margin: 0;
    padding: 0;
}

body {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    background-color: #1B244A;
    width: 75%;
    margin: 0 auto;
}

.container h2 {
    font-family: Verdana;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #EEEEEE;
    box-shadow: 0.5px 5px #888888;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    padding: 20px;
    gap: 150px;
    font-family: Verdana;
    color: #EEEEEE;
    font-size: 22px;
    font-weight: 700px;
}


h2 {
    text-align: center;
}

p {
    width: 155px;
    height: 120px;
    top: 125px;
    left: 82px;
    border-radius: 5px;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-weight: 400;
    line-height: 127px;
    letter-spacing: 0em;
    text-align: center;
    padding: -20px;
    margin: 20px 0;
    color: #F94F6D;
    background: #080001;
    justify-content: space-between;
}

button {
    width: 45px;
    height: 45px;
    top: 271px;
    left: 337px;
    border-radius: 5px;
    border: 2px;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}
#reset {
    width: 20%;
padding: 4px;
margin: 5px auto;
border-radius: 15px;
text-align: center;
justify-content: center;
align-items: center;
}
/* .home
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px;
}
.guest
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px;
} */